<div>
    <button [routerLink]="['/customercreate']">Create Customer</button>
    <table>
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Code </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td> {{ customer['firstName'] }}</td>
                <td> {{ customer['lastName'] }}</td>
                <td> {{ customer['code'] }}</td>
            </tr>
        </tbody>  
    </table>
</div>